/*
Theme Name: DGR Contabilidade
Author: Luann Sapucaia && Matheus Nogueira
Description: Tema criado para o site da DGR Contabilidade
Version: 1.0
*/

/*###################### RESET ######################*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*###################### GERAL ######################*/

:root {
    --primary-blue: #2b4d6b;
    --primary-gray: #E0E0E0;
    --primary-black: #333333;
    --secondary-black: #3D3D3D;
    --primary-white: #FAFAFA;
    --primary-font: 'Aldrich', sans-serif;
    --secondary-font: 'Pt serif';
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container-plus {
    max-width: 1160px;
    margin: 0 auto;
}

/*###################### HEADER ######################*/

header {
    height: 40px;
    background-color: var(--primary-blue);
    width: 100%;
    padding: 5px;
    font-family: var(--primary-font);
}

.logo {
    display: inline-block;
    /* float: left; */
    height: 30px;
}

.menu {
    float: right;
}

.menu-list {
    padding: 0;
    height: 100%;
    float: left;
}

.menu li {
    display: inline-block;
    list-style: none;
    padding: 13px 10px;
    margin-right: 30px;
}

.menu li a{
    text-decoration: none;
    color: var(--primary-white);
}

.menu-tel {
    text-align: center;
    font-size: 12px;
    border: 2px solid var(--primary-white);
    color: var(--primary-white);
    height: 32px;
    padding: 2px;
    width: 118px;
    float: right;
}

#first-tel{
    margin-bottom: 5px;
}

#second-tel{
    margin-top: 5px;
}
.img-header {
    height: 100%;
    display: inline-block;
}

/*###################### FOOTER ######################*/

footer {
    width: 100%;
    font-family: var(--primary-font);
    color: white;
}

footer .footer {
    background-color: var(--primary-black);
    font-size: 1.25em;
}
footer #copyright {
    background-color: var(--secondary-black);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.125em;
}

footer .contact {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

footer .contact p {
    margin-bottom: 40px;
}

footer .creator-logo {
    display: inline-block;
    text-align: center;
}
footer .creator-logo img {
    margin-top: 20px;
}
    /*  RESPONSIVO  */

@media screen and (min-width: 760px) {
    footer .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
    footer .contact {
        margin-right: 300px;
    }    
}

@media screen and (max-width: 759px) {
    footer .content {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        padding-bottom: 30px;
    }
    footer .contact {
        padding-top: 30px;
    }
}